.MonCv {
    background-color: #fef2e8;
    min-height: 100vh;
    padding: 2rem 0;
  }
  
  .page-container {
    width: 90%;
    margin: auto;
    min-height: 90vh;
    padding: 2rem 0;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid black;
    border-right: 4px solid black;
    border-bottom: 6px solid black;
    margin-bottom: 2rem;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #e1b845;
    padding: 1rem;
    border-bottom: 3px solid black;
  }
  
  .card-text {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    padding: 1rem;
  }
  